@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Indie+Flower&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #1b4965   ;
  --secondary-color: #5fa8d3 ;
  --accent1-color: #62b6cb;
  --accent2-color: #bee9e8;
  --accent3-color: #cae9ff;

  /* change the values below to your chosen font(s) */
  --heading-font: "Croissant One";
  --paragraph-font: Indie Flower, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #1b4965;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #1b4965; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #1b4965; /* paragraph text on a colored background */ 
  --paragraph-background-color: #bee9e8  ;
  --nav-link-color: #bee9e8;
  --nav-background-color: #1b4965;
  --nav-hover-link-color: black;
  --nav-hover-background-color: #396E94;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #dac3a4;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #596154;
}

nav a {
    color: black;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color:var(--accent1-color);
    color:var(--primary-color);
}

.join, .book{
    background-color: #d9c2a3;
    color:black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: var(--secondary-color);
    color: white;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

.msg h2, .home-title {
    font-family: var(--paragraph-font), sans-serif;
}

.msg p {
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 15px;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    color: white;
}

footer {
    background-color: #596154;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title, h4 {
    color: var(--primary-color);
}

.msg h2 {
    color: white;
}

footer, footer a {
    color: white;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: var(--secondary-color);
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

h1 {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}
